* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bgMuted: hsl(0 0 20);
$bg0: hsl(0 0 10);
$bgAccent: hsl(0 0 10);

$fgMuted: hsl(0 0 70);
$fg0: hsl(0 0 80);
$fgAccent: hsl(0 0 90);


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.bgMuted {
  background-color: $bgMuted;
}

.bg0 {
  background-color: $bg0;
}

.bgAccent {
  background-color: $bgAccent;
}

.fgMuted {
  color: $fgMuted;
}

.fg0 {
  color: $fg0;
}

.fgAccent {
  color: $fgAccent;
}

div {
  &>h1 {
    font-size: 48px;
  }
  &>p {
    font-size: 16px;
  }
}

@mixin flex ($dir: row, $justify: center, $items:center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $items;;
}

div.test {
  font-size: 100px;
  font-weight: 900;
  
  div {
    &:nth-child(1) {
      @include flex()
    }
    &:nth-child(2) {
      @include flex($justify: space-between)
    }
    &:nth-child(3) {
      @include flex($dir: column)
    }
  }
}