* {
  box-sizing: border-box;
}

$bgMuted: hsl(0 0 20);
$bg0: hsl(0 0 10);
$bgAccent: hsl(0 0 10);

$fgMuted: hsl(0 0 70);
$fg0: hsl(0 0 80);
$fgAccent: hsl(0 0 90);


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.test {
  font-size: 100px;
  font-weight: 900;
}

.bgMuted {
  background-color: $bgMuted;
}

.bg0 {
  background-color: $bg0;
}

.bgAccent {
  background-color: $bgAccent;
}

.fgMuted {
  color: $fgMuted;
}

.fg0 {
  color: $fg0;
}

.fgAccent {
  color: $fgAccent;
}